# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# 运行时产物
run/
split/
logs/
*.log

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project

# 系统
Thumbs.db
Desktop.ini
.DS_Store
